* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #66bbca !important;
}

.quiz-box {
    border-radius: 10px;
}
.home-quiz-box h2, .results-box {
    font-size: 26px;
}
.home-quiz-box p, .question-card-top {
     font-size: 18px;
 }
.home-quiz-box a {
    font-size: 17px;
}
.answer-box{
    background-color: #b3adad !important;
    font-size: 18px;
    border-radius: 6px;
}
.question-box{
    font-size: 24px;
}